<!DOCTYPE html>
<html>
  <head>
    <title>PushNote</title>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

    <!-- ReactFire -->
    <script src="https://cdn.firebase.com/libs/reactfire/1.0.0/reactfire.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>


    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>


    <!-- Initialize the Firebase SDK -->
    
		<script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>
		<script>


      var cstatus = "";

      function openModal(){
        console.log(cstatus);
        $('#status').text(cstatus);
        $('#statusModal').openModal();
      }

		  // Initialize Firebase
		  var config = {
		    apiKey: "AIzaSyAFAM421tHTh5AWZzXvp8WBTF3TeJIaWe4",
		    authDomain: "my-awesome-project-13077.firebaseapp.com",
		    databaseURL: "https://my-awesome-project-13077.firebaseio.com",
		    storageBucket: "my-awesome-project-13077.appspot.com",
		    messagingSenderId: "199057337442"
		  };
		  var app = firebase.initializeApp(config);

		</script>

    

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body class="#ef6c00 orange darken-3">
    <nav class="#ef6c00 orange darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/index" class="brand-logo">PushNote</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>

      <a href="/login" data-activates="nav-mobile" class="button-collapse">Login</a>
    </div>
    </nav>
    <div class="section #ef6c00 orange darken-3" style="height:100vh" id="index-banner">
      <div class="container ">
		  <h3 class="header center white-text">{{errorMessage}}</h3>
      </div>
   </div>

  </body>
  <script>
  
  function postTicket(){
           $.ajax({
            url: window.location.href,
            type: "POST",
            data: {ticket_message : $('#ticket_message').val()}
          });
          $('#ticket_message').val('');
        }


  


		Materialize.fadeInImage('#card-id');

  </script>

    <script type="text/babel">

      var pagenameref = window.location.pathname.split('/')[2];
      var clickSetTracker = {};
      var filterRes = false;
      clickSetTracker["" + pagenameref] = new Set();

      var ResolvedTicket = React.createClass({
        
        render: function() {
          var parent = this;
            var sp = this.props.status;
            var openModalF = function(){
                  cstatus = sp;
                  openModal();
            };
            return (<li className="resolved-item collection-item"><div className="row resolved-ticket-row"><div className="col s2 number-circle-disabled"><p>{this.props.count}</p></div><div className = "col s6 ticket-message">
            <p>{this.props.message}</p></div><p><button className="btn waves-effect waves-light orange" onClick={openModalF}>Status</button></p></div></li>);
          
        }
      });
      
      var ResolvedTicketList = React.createClass({
        render: function() {
          var outer = this;
          var filterResF = function(){
                filterRes = true;
                queryData();
          };
          var filterOpenF = function(){
                filterRes = false;
                queryData();
          };
          if(this.props.data != null){
            var tickets = this.props.data.map(function(n) {
                    
                    var b = clickSetTracker["" + pagenameref].has(n[0]);
                    return (<ResolvedTicket status = {n[1]['admin_response']} count = {n[1]['count']} message={n[0]} wasClicked={b}/>);
            });
          }
          return (
            <div className = "col s8 offset-s2">
             <ul className="collection with-header">
              <li className="collection-header"><h4>Resolved Tickets</h4><h5 className="header light">Sorted by priority</h5>
              <button className="btn waves-effect waves-light orange" onClick={filterOpenF}>Open</button>
              <button className="btn waves-effect waves-light blue" onClick={filterResF}>Resolved</button>
              </li>
              {tickets}
            </ul>
            </div>
          );
        }
      });

      var Ticket = React.createClass({
        setInitialState: function(){

        },
        render: function() {
          var parent = this;
          var upvote = null;
          var sp = this.props.status;
          var openModalF = function(){
                cstatus = sp;
                openModal();
          };
          if (!this.props.wasClicked){

            var upvote = function(){
                console.log("I WAS CALLED WTH?");
               $.ajax({
                url: window.location.href + "tickets/" + parent.props.message,
                type: "GET"});
              clickSetTracker["" + pagenameref].add(parent.props.message);
              $('#ticket_message').val('');
            };

            return (<li className="collection-item"><div className="row ticket-row"><div className="col s2 number-circle" onClick={upvote}><p>{this.props.count}</p></div><div className = "col s6 ticket-message">
            <p>{this.props.message}</p></div><p><button className="btn waves-effect waves-light orange" onClick={openModalF}>Status</button></p></div></li>);
          
          } else {

            return (<li className="collection-item"><div className="row ticket-row"><div className="col s2 number-circle-disabled"><p>{this.props.count}</p></div><div className = "col s6 ticket-message">
            <p>{this.props.message}</p></div><p><button className="btn waves-effect waves-light orange" onClick={openModalF}>Status</button></p></div></li>);

          }
        }
      });

      var TicketList = React.createClass({
        render: function() {
          var outer = this;
          var filterResF = function(){
                filterRes = true;
                queryData();
          };
          var filterOpenF = function(){
                filterRes = false;
                queryData();
          };

          if(this.props.data != null){
            var tickets = this.props.data.map(function(n) {
                    
                    var b = clickSetTracker["" + pagenameref].has(n[0]);
                    return (<Ticket count = {n[1]['count']} status = {n[1]['admin_response']} message={n[0]} wasClicked={b}/>);
            });
          }
          return (
            <div className = "col s8 offset-s2">
             <ul className="collection with-header">
              <li className="collection-header"><h4>Open Tickets</h4><h5 className="header light">Sorted by priority</h5>
              <button className="btn waves-effect waves-light orange" onClick={filterOpenF}>Open</button>
              <button className="btn waves-effect waves-light blue" onClick={filterResF}>Resolved</button>
              </li>
              {tickets}
            </ul>
            </div>
          );
        }
      });

      
      function queryData(){
          console.log("QUERIED");
          if (filterRes){
            console.log("QUERIED AGIAn");
            $.ajax({
                type: "GET",
                url: window.location.href + "resolved",
                dataType: 'json',
                success: function (data) {
                    ReactDOM.render(<ResolvedTicketList data= {data.data}/>, document.getElementById('unresolved-tickets'));      
                }
            });
          } else {
            $.ajax({
                type: "GET",
                url: window.location.href + "unresolved",
                dataType: 'json',
                success: function (data) {
                    ReactDOM.render(<TicketList data= {data.data}/>, document.getElementById('unresolved-tickets'));      
                }
            });
          }
      }

      app.database().ref('pages/'+ pagenameref).limitToLast(100).on('value', function(dataSnapshot) {
          queryData();
           
        });






    </script>
</html>
